<div class="screen">
  <div class="modal">
    <div class="modal__title">
      <strong>Settings</strong>
    </div>
    <div class="modal__content">
      <strong>Board size:</strong>
      <div class="modal__content__options">
        <div>
          <input class="modal__content__radio" type="radio" id="easy" name="gender" value="easy" />
          <label for="easy">Easy</label><br />
        </div>
        <div>
          <input class="modal__content__radio" type="radio" id="normal" name="gender" value="normal" />
          <label for="normal">Normal</label><br />
        </div>
        <div>
          <input class="modal__content__radio" type="radio" id="hard" name="gender" value="hard" />

          <label for="hard">Hard</label>
        </div>
        <div>
          <input class="modal__content__radio" type="radio" id="expert" name="gender" value="expert" />
          <label for="expert">Expert</label>
        </div>
      </div>
      <div class="modal__content__custom">
        <div>
          <input class="modal__content__radio" type="radio" id="custom" name="gender" value="custom" />
          <label for="custom">Custom:</label>
        </div>
        <div class="modal__content__custom__wrapper">
          <label for="width">Width</label>
          <input class="modal__content__custom__input" type="text" id="width" name="width" />
          <label for="height">Height</label>
          <input class="modal__content__custom__input" type="text" id="height" name="height" />
        </div>
      </div>
      <div class="modal__button">
        <button>Save</button>
      </div>
    </div>
  </div>
</div>
