<div class="app">
  <aside class="aside">
    <div class="menu">
      <div class="list">
        <div class="game-info">
          <div class="game-info__item">
            <strong class="game-info__level">{{ currentLevel | uppercase }}</strong>
            <strong>Total time</strong>
            <span *ngIf="timer < 300">{{ timer }}s</span>
            <span *ngIf="timer >= 300">∞</span>
          </div>
          <div class="game-info__item">
            <strong>Bombs left</strong>
            <span *ngIf="!this.minesweeperService.getBoardStatus()"
              >{{ minesweeperService.getBoardMineAmount() - minesweeperService.getMarkedSquaresAmount() }}/{{
                minesweeperService.getBoardMineAmount()
              }}</span
            >
            <span *ngIf="this.minesweeperService.getBoardStatus()">-</span>
          </div>
        </div>
        <div class="list__item" (click)="startGame()">Restart game (key: 1)</div>
        <div class="list__item" (click)="setCurrentLevel('easy')">Easy (key: 2)</div>
        <div class="list__item" (click)="setCurrentLevel('normal')">Normal (key: 3)</div>
        <div class="list__item" (click)="setCurrentLevel('hard')">Hard (key: 4)</div>
        <div class="list__item" (click)="setCurrentLevel('expert')">Expert (key: 5)</div>
      </div>
    </div>
  </aside>
  <main class="main" (contextmenu)="disableContextMenu($event)">
    <div class="header" [style.width.px]="minesweeperService.getBoardSize().x * 32">
      <h1 class="header__title">{{ minesweeperService.getDisplayedMessage() }}</h1>
    </div>
    <div
      class="board"
      *ngIf="!loading"
      [style.width.px]="minesweeperService.getBoardSize().x * 32"
      [style.height.px]="minesweeperService.getBoardSize().y * 32"
    >
      <app-square
        *ngFor="let square of this.minesweeperService.getBoardSquares()"
        [position]="square.position"
      ></app-square>
    </div>
  </main>
</div>
